__pycache__/
*.py[cod]
*$py.class

*.so

pyinstaller64.exe
pyinstaller32.exe

.Python
.vscode/
blob_storage/
build/
dist/

*.manifest
*.spec
bot.py

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
settings.sqlite

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipynb_checkpoints

profile_default/
ipython_config.py

.python-version

__pypackages__/

celerybeat-schedule
celerybeat.pid
*.sage.py

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject

.ropeproject

/site

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/
